<h1>Login</h1>
<!-- ngForm crea un istanza particolare e mette all'interno una variabile che scriviamo cosi: # 
se scrivo solo la variabile sto facendo riferimento solo all'html form
handlSubmit() essendo un metodo gli passo la variabile-->
<form (ngSubmit)="handleSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="">Email</label>
        <!-- attributo name perche ogni input deve avere un nome -->
        <!-- a sinistra ci va il nome di una direttiva
        a destra ci va il nome della proprietà -->
        <input type="email" name="email" [(ngModel)]="email" #e="ngModel" required email [appForbidden]="['domain1@gmail.com', 'domain2@gmail.com']">
        <!-- (change)="email = $event.target.value" [value]="email" -->
        <div *ngIf="e.touched && e.invalid" class="alert alert-danger" role="alert">
            <p *ngIf="e.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="e.hasError('email')">Indirizzo email non valido</p>
            <p *ngIf="e.hasError('forbidden')">Indirizzo email non ammesso</p>
          </div>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" [(ngModel)]="password" #p="ngModel" required minlength="8">
        <div *ngIf="p.touched && p.invalid" class="alert alert-danger" role="alert">
            <p *ngIf="p.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="p.hasError('minlength')">Password non valido</p>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>