<p>triage works!</p>

<span>{{color}}</span>

<button (click)="buttonTriage('Rosso')">Rosso</button>
<button (click)="buttonTriage('Arancione')">Arancione</button>
<button (click)="buttonTriage('Azzuro')">Azzurro</button>
<button (click)="buttonTriage('Verde')">Verde</button>
<button (click)="buttonTriage('Bianco')">Bianco</button>
