<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>email</th>
            <th>name</th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        <tr app-users-table-row *ngFor="let user of users" [user]="user" (delete)="handleDelete($event)"></tr>
    </tbody>
</table>